<table class="table1">
    <thead>
        <tr>
            <th class="th1" colspan="3">BẢNG LƯƠNG THÁNG 5/2022 </th>

        </tr>
    </thead>
    <tbody>
      <tr >
        <td class="td1" colspan="2">Họ tên: <strong>{{money.NameTeacher}}</strong> </td>
        <td class="td1">Mã GV: <strong>{{money.MaTeacher}}</strong></td>
      </tr>
      <tr>
        <td class="td1">Bằng cấp: <strong>{{money.Diploma}}</strong></td>
        <td class="td1">Hệ số GV: <strong>{{money.TeacherIsbn}}</strong></td>
        <td class="td1">Số giờ làm việc: <strong>{{money.NumberTeachHour}}</strong></td>
      </tr>
      <tr >
        <td class="td1">Số tiền/giờ (VNĐ): <strong>{{money.MoneyAHour}}</strong> </td>
        <td class="td1">Hệ số lớp học: <strong>{{money.ClassIsbn}}</strong> </td>
        <td class="td1">Hệ số môn học: <strong>{{money.SubjectIsbn}}</strong></td>
      </tr>
      <tr>
        <td class="td1" colspan="3">Thực lĩnh lương: <strong>{{money.TotalMoney}}</strong></td>
      </tr>
    </tbody>
</table>


